@import 'reset.css';
@import 'variables';
@import 'typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color_bg;
}

.lazy-img {
  transition: .3s ease-in-out;
  opacity: 0;
  &--in {
    opacity: 1;
  }
}

.container {
  width: $container_width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter_md;
  padding-right: $gutter_md;
}

.block {
  min-height: 100px;
  white-space: pre-wrap;

  &-wrapper {
    padding-top: $gutter_md;
    padding-bottom: $gutter_md;
    margin-bottom: $gutter_lg;
  }

  &__title {
    margin-bottom: $gutter_md;
  }

  span {
    background: none !important;
  }

  &-attachments {
    padding-top: $gutter_md;
    margin-top: $gutter_md;
    font-size: .9rem;

    &-item {
      padding: $gutter_sm 0;
      display: flex;
      align-items: center;

      img {
        max-width: 80px;
      }

      &__title {
        margin-right: $gutter_sm;
      }

      &:not(:last-child) {
        border-bottom: 1px dashed $color_grey;
      }
    }

    &__title {
      margin-bottom: $gutter_md;
    }
  }    
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, .9);

  &-menu {
    &, li, ul, a {
      display: flex;
    }

    &__item {
      list-style-type: none;
      
      &:hover {
        a {
          text-decoration: underline
        }
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        align-items: center;
        padding: $gutter_sm $gutter_md;
      }
    }
  }

  &-holder {
    margin-bottom: $gutter_lg;
  }

  &__logo {
    height: 220px;
    transition: .2s ease-in-out height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: $gutter_md;

    img {
      max-height: 100%;
    }
  }

  &--stuck {
    background: #fff; 
    box-shadow: 0px 3px 10px rgba(0,0,0,.1);

    .header__logo {
      height: 100px;
    }

    .header-menu {
      &__item {
        a {
          &:hover {
            text-decoration: none;
            background: #eee;
          }
        }
      }
    }
  }

  &-content {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    min-height: 50px;
  }
}